* {
  margin: 0;
  padding: 0;
  border: 0;
}
#chessdesk {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-color: 1px solid black;
  display: table;
}
.row {
  float: left;
  display: table-row;
}
.cell {
  width: 75px;
  height: 75px;
  display: table-cell;
}
.cell-white {
  background-color: white;
}
.cell-black {
  background-color: black;
}
