* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
#chessdesk {
  width: 653.2px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid black;
  display: table;
}
.row {
  float: left;
  display: table-row;
}
.cell {
  width: 75px;
  height: 75px;
  display: table-cell;
  table-layout: fixed;
  transform: translate3d(0px, 0px, 0px);
  vertical-align: middle;
  text-align: center;
}
.cell-white {
  background-color: rgb(248, 226, 184);
}
.cell-black {
  background-color: rgb(122, 79, 14);
}
/** подпись 123**/
.number {
  width: 25px;
  height: 75px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  empty-cells: show;
  background-color: rgb(248, 202, 145);
}
/** подпись ABC**/
.thead {
  float: left;
  display: table-header-group;
}
.cell-head {
  width: 75px;
  height: 2px;
  display: table-cell;
  clear: left;
  text-align: right;
  background-color: rgb(248, 202, 145);
}
.tfoot {
  float: left;
  display: table-footer-group;
}
/**трансформация для фигурок**/
#figure:hover {
  transform: translate3d(10px, 25px, 10px);
  transition: all 1s ease 0s;
}
