* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
header {
  background-color: crimson;
}
body {
  color: #f3f3f3;
}
nav {
  display: inline-block;
  background-color: rgb(250, 142, 142);
  border: 1px solid;
  border-color: #f3f3f3 #bbb #bbb #f3f3f3;
  margin: 2px;
  padding: 8px;
}
.about-us {
  background-image: url(img/josh-riemer-flRN6KYpl1A-unsplash.jpg);
  padding: 50px 150px 50px 100px;
}
.article {
  display: inline-block;
  background-color: rgb(33, 119, 51);
  width: 50%;
  height: 300px;
}
.aside {
  display: inline-block;
  background-color: rgb(198, 177, 241);
  width: 25%;
  height: 300px;
}
footer {
  background-color: rgb(69, 104, 103);
}
